#oneAndOnly {
    font-family: "Ballet", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 3;
    text-align: center;
}
.mother {
    color: red;
    display: inline;
}
h4 {
    font-size: 25px;
    font-family: "Story Script", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #b3b3ff !important;
}
ul {
    list-style-type: square;
    color: teal;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    padding-left: 40px;
}
ol {
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px dashed red;
    width: 300px;
    margin-left: 0;
    padding: 15px 40px;
}
dt {
    font-weight: bold;
    color: darkmagenta;
    margin-top: 10px;
    font-style: oblique;
}
dd {
    font-style: italic;
    margin-left: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #fffaf0;
}
td, th {
    border: 2px solid #2c3e50;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #2c3e50;
    color: white;
}
table a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
ul > li {
    color: darkblue;
    font-size: 20px;
}
h4 + ul {
    border-left: 5px solid darkmagenta;
    padding-top: 10px;
    padding-bottom: 10px;
}